<div class="p-8 w-10/12 h-full  flex flex-col m-auto ">
  <p class=" text-2xl ">Product</p>

  <div class="grid  gap-x-2 gap-y-2 grid-cols-3">
    <div class="m-3 w-11/12	border-solid border-2  border-gray-100 flex flex-col  h-56   rounded-xl">

      <img src="./../../../assets/image/bag.png" class=" w-44  h-28 bg-cover    bg-repeat bg-center" alt="">
      <p class="text-lg">Bag</p>
      <p class=>$20.000</p>
      <div class="flex  flex-row justify-between">
        <mat-form-field class="w-10 bg-blue-500">
          <input matInput type="number"  placeholder="Ingrese primer valor">
        </mat-form-field>
        <p>$20.000</p>
      </div>

    </div>
    <div class="m-3 w-11/12	border-solid border-2 border-gray-100  h-52   rounded-lg">01</div>
    <div class="m-3 w-11/12	border-solid border-2 border-gray-100  h-52   rounded-lg">01</div>
    <div class="m-3 w-11/12	border-solid border-2 border-gray-100  h-52   rounded-lg">01</div>
    <div class="m-3 w-11/12	border-solid border-2 border-gray-100  h-52   rounded-lg">01</div>
    <div class="m-3 w-11/12	border-solid border-2 border-gray-100  h-52   rounded-lg">01</div>


  </div>



</div>
