<app-navbar></app-navbar>
<div >
  <div class=" w-10/12 h-96 bg-purple-300 rounded-lg m-auto flex justify-start items-center overflow-hidden ">
    <img src="./../../../assets/image/sp.png" class="w-5/6 h-96 absolute rounded-3xl " alt="">
    <div class="w-2/5 h-60  ml-72  flex justify-center items-center flex-col  ">
      <div class="mr-14 p-4  font-sans font-semibold">
           <p class="text-4xl">Welcome to classes</p>
           <p class="text-2xl">with offers</p>
      </div>
      <div class="w-4/5 rounded-full h-8 mr-8 flex justify-center items-center bg-white">
        <input class="w-3/4 h-8 rounded-l-full" type="text" name="search" id="search" placeholder="Search your daily ">
        <button class="bg-pink-500 rounded-full w-1/4 h-8">Send</button>
      </div>

    </div>

  </div>
</div>
<app-category></app-category>
<app-products></app-products>
