<div class="p-8 w-10/12 flex flex-row m-auto">
  <div class=" w-1/2 h-10  font-sans font-semibold flex  flex-row items-center justify-between ">
    <p class=" text-2xl ">Category</p>

 </div>

  <div class=" w-1/2 h-10   rounded-lg flex  justify-end content-end ">
    <span class=" mdi mdi-arrow-left-drop-circle-outline text-2xl cursor-pointer hover:text-gray-500"></span>
    <span class=" mdi mdi-arrow-right-drop-circle-outline text-2xl cursor-pointer hover:text-gray-500"></span>
  </div>

</div>
<div class="p-4 w-10/12 flex flex-row m-auto ">

  <div class=" w-full p-8 grid grid-cols-7 gap-7">
    <div class="bg-gray-100 p-8 h-32 rounded-lg">
      <span class=" mdi mdi-draw-pen text-5xl cursor-pointer hover:text-gray-500"></span>
      <p class="text-lg">Office</p>
    </div>
    <div class="bg-gray-100 p-8 h-32 rounded-lg">
      <span class=" mdi mdi-auto-fix text-5xl cursor-pointer hover:text-gray-500"></span>
      <p class="text-lg">Confetti</p>
    </div>
    <div class="bg-gray-100 p-8 h-32 rounded-lg">
      <span class=" mdi mdi-file-sign      text-5xl cursor-pointer hover:text-gray-500"></span>
      <p class="text-lg">School</p>
    </div>
    <div class="bg-gray-100 p-8 h-32 rounded-lg">
      <span class=" mdi mdi-weight-lifter  text-5xl cursor-pointer hover:text-gray-500"></span>
      <p class="text-lg">Sport</p>
    </div>
    <div class="bg-gray-100 p-8 h-32 rounded-lg">
      <span class=" mdi mdi-lipstick      text-5xl cursor-pointer hover:text-gray-500"></span>
      <p class="text-lg">Make </p>
    </div>
    <div class="bg-gray-100 p-8 h-32 rounded-lg">
      <span class=" mdi mdi-clipboard-edit-outline text-5xl cursor-pointer hover:text-gray-500"></span>
      <p class="text-lg">Sailplane</p>
    </div>
    <div class="bg-gray-100 p-8 h-32 rounded-lg">
      <span class=" mdi mdi-calendar-month-outline text-5xl cursor-pointer hover:text-gray-500"></span>
      <p class="text-lg">Schedule</p>
    </div>



  </div>
</div>
