<nav class="  flex items-center  justify-center p-4 w-full">


<div class="w-72  h-2  flex items-center  justify-start ">

     <img src="./../../../../assets/image/Tienda3M1.png" class=" bg-cover    bg-repeat bg-center" alt="">
  </div>



   <div class="w-2/5 p-4  flex items-center justify-center  h-full">

     <ul class="text-lg font-sans">
       <li class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black mr-10"><a href="" >Home</a></li>
       <li class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black mr-10"><a href="">Categories</a></li>
       <li class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black mr-10"><a href="">Our Packages</a></li>
       <li class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-black mr-10"><a href="">Our App</a></li>
     </ul>
    </div>
   <div class="w-1/4   flex flex-row  h-full">

    <div class="w-1/2  flex items-center justify-start">

      <p >
        <span class=" mdi mdi-cards-heart-outline text-2xl cursor-pointer hover:text-gray-500"></span>
        <mat-icon matBadge="15" matBadgeColor="warn">
        </mat-icon>
        <!-- Include text description of the icon's meaning for screen-readers -->
      </p>
      <p>
        <span class="ml-4 mdi mdi-cart-variant text-2xl cursor-pointer hover:text-gray-500"></span>
        <mat-icon matBadge="5" matBadgeColor="warn">
        </mat-icon>
        <!-- Include text description of the icon's meaning for screen-readers -->
      </p>
    </div>

    <div class="w-1/2   flex flex-row">
      <p class="p-2 font-sans">Hello <span class="font-bold">Jonny</span></p>
      <img src="./../../../../assets/image/mujer.jpg" class="ml-2 bg-center inline-block h-9 w-9 rounded-full ring-2 ring-white" alt="">
    </div>



   </div>



</nav>
